aniso8601==9.0.1
attrs==21.4.0
bcrypt==3.2.0
blinker==1.4
cffi==1.15.0
click==8.1.2
dnspython==2.2.1
Flask==1.1.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-JWT-Simple==0.0.3
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
flask-restplus==0.13.0
importlib-metadata==4.11.3
importlib-resources==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.1.0
pycparser==2.21
PyJWT==2.3.0
pymongo==4.1.1
pyparsing==3.0.8
pyrsistent==0.18.1
pytesseract==0.3.9
pytz==2022.1
six==1.16.0
Werkzeug==0.16.1
zipp==3.8.0
