<!-- create a page for purchase request approval/reject -->
<html>
<head>
    <meta charset="utf-8">
    <title>Approve status</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- create table with purchase requst fields    -->
    <table>
        <th>
            <td>Request Number</td>
            <td>Department</td>
            <td>Requested By</td>
            <td>Requested Date</td>
            <td>Priority</td>
            <td>Remarks</td>
            <!-- <td>is direct purchase</td>
            <td>Action</td> -->
        </th>
        <tr>
            <td>001</td>
            <td>Laptop</td>
            <td>2</td>
            <td>IT</td>
            <td>Laptop for IT</td>
            <td>John Doe</td>
            <td>2020-01-01</td>
            <td>3</td>
            <td>Laptop for IT</td>
            <td>
                <a href="purchase.php">Edit</a>
                <a href="purchase.php">Delete</a>
            </td>
        </tr>

</body>

</html>